# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# YOLO outputs
runs/

# Dataset / trained models and checkpoints
*.pt
*.pth
data/
saved_models/
sam_models/
final_results/

# OS files
.DS_Store
Thumbs.db

datasets/
results/


